@import "tailwindcss";
body{
    background-color: black;
    color: white;
}
#category{
    scrollbar-width: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.animate-infinite{
 animation: animateX 1s ease-in-out infinite;
 background-color: white;
}
@keyframes animateX {
  0% { transform: translateX(-130%); }
  100% { transform: translateX(130%); }
}