@import "tailwindcss";
body{
    background-color: black;
    color: white;
}
#category{
    scrollbar-width: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}